{% extends 'base.html.twig' %}


{% block content %}

    <section id="data" class="text-center justify-content-center">
   
            <div class="col">
                <fieldset id="factory" class="border border-2">
                    <legend>Data Structures</legend>
                    <b>Pair</b>
                        <p>{{ structures.pair.key }}: {{ structures.pair.value }}</p>
                </fieldset>
            </div>

    </section>

{% endblock %}


