{% extends 'base.html.twig' %}

{% block javascripts_add %}
    {{ encore_entry_script_tags('datafactory_action') }}
{% endblock %}

{% block title %}Home{% endblock %}

{% block header %}
    <div class="d-flex justify-content-center">
        <h2 class="pb-4">Home</h2> 
    </div>
{% endblock %}



{% block content %}

    <section id="data" class="text-center justify-content-center">
   
        <div class="row">

            <div class="col">
                
            </div>

    
        </div>
    
    </section>

{% endblock %}

