{% extends 'base.html.twig' %}

{% block javascripts_add %}
    {{ encore_entry_script_tags('datafactory_action') }}
{% endblock %}

{% block title %}Home{% endblock %}

{% block header %}
    <div class="d-flex justify-content-center">
        <h2 class="pb-4">Home</h2> 
    </div>
{% endblock %}



{% block content %}

    <section id="data" class="text-center justify-content-center">
   
        <div class="row">

            <div class="col">
                <section class="info">
                <ul>
                    <li style="list-style: none;">
                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="icon icon-tabler icon-tabler-box" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
    <path d="M12 3l8 4.5l0 9l-8 4.5l-8 -4.5l0 -9l8 -4.5" />
    <path d="M12 12l8 -4.5" />
    <path d="M12 12l0 9" />
    <path d="M12 12l-8 -4.5" />
</svg>                        <span>You are using Symfony <strong>7.3.4</strong> version</span>
                    </li>

                    <li style="list-style: none;">
                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="icon icon-tabler icon-tabler-folder-open" width="40" height="40" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
    <path d="M5 19l2.757 -7.351a1 1 0 0 1 .936 -.649h12.307a1 1 0 0 1 .986 1.164l-.996 5.211a2 2 0 0 1 -1.964 1.625h-14.026a2 2 0 0 1 -2 -2v-11a2 2 0 0 1 2 -2h4l3 3h7a2 2 0 0 1 2 2v2"></path>
</svg>                        <span>Your application is ready at: <code translate="no" class="notranslate project_dir_path">/var/www/application/</code></span>
                    </li>

                    <li style="list-style: none;">
                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="icon icon-tabler icon-tabler-info-circle" width="40" height="40" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
    <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
    <path d="M12 9h.01"></path>
    <path d="M11 12h1v4h1"></path>
</svg>                        <span>You are seeing this page because the homepage URL is not configured and <a target="_blank" href="https://symfony.com/doc/7.3/debug-mode">debug mode</a> is enabled.</span>
                    </li>
                </ul>

               
            </section>
            </div>

    
        </div>
    
    </section>

{% endblock %}

