{% extends 'base.html.twig' %}

{% block title %}Php{% endblock %}

{% block content %}

    <section id="php" class="">
            <h1 class="">PHP</h1>
        <div>
            <h2>Php 8.0</h2>
            <p> Named arguments: {{ php80.NamedArguments }} </p>
        </div>
    </section>

{% endblock %}
