{% extends 'base.html.twig' %}

{% block title %}Symfony{% endblock %}

{% block content %}

        <section id="cloud" class="text-center mt-100">
        <div class="px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-12">
                    <h2 class="mb-4">Symfony</h2>

                </div>
            </div>
        </div>
    </section>

{% endblock %}
